  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Pacifico&display=swap');

[class^="producer"].visible {
  display: flex;
}

 * {
    box-sizing: border-box;
    background-color: tan;
  }

  .big-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }

  .column {
    margin: 10px;
    margin-top: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }

  .container-left {
    width: 100%;
    height: 100%;
    margin: 25px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #coffee_cup {
    height: auto;
    user-select: none;
    cursor: pointer;
  }
  
  .top-right {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    position: relative;
    top: 10px;
  }
  
  .counter {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin: 10px;
  }
  
  .cps-container {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
  }
  
  #producer_container {
    padding: 10px;
    overflow: auto;
    border: 4px brown solid;
    border-radius: 20px;
  }
  
  .producer1 {
    display: none;
    margin-bottom: 5px;
    padding: 10px;
    border: 3px solid sienna;
    border-radius: 8px;
    justify-content: space-between;
  }
  .producer2 {
    display: none;
    margin-bottom: 5px;
    padding: 10px;
    border: 3px solid sienna;
    border-radius: 8px;
    justify-content: space-between;
  }
  .producer3 {
    display: none;
    margin-bottom: 5px;
    padding: 10px;
    border: 3px solid sienna;
    border-radius: 8px;
    justify-content: space-between;
  }
  .producer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pro-left {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
  }

  .pro-right {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
  }
  
  .pro-left button {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    width: 75px;
    border-radius: 10px;
    color: darkred;
    -webkit-box-shadow: 2px 2px 9px -1px #2D405A, 2px 2px 9px -1px #2D405A; 
box-shadow: 2px 2px 9px -1px #2D405A, 2px 2px 9px -1px #2D405A;

  }
